extends layout
block content
        script(src='js/Product.js', defer) 
        div.content
            h1#createHeadline עריכת פרופיל למוצר או שירות
            br
            div.createProduct
                form(action="/editProduct", method="post", id="block",class="my-form")
                    div.left
                        div.form
                            input(type="image", name="image", id="Image", value=v11)
                        br
                        div.form
                            label(for="price") מחיר*:
                            input(type="number", min="0", max="10000", name="price", id="Price",value=v12)
                            label(for="price") ש"ח
                        br
                        div.form
                            span #{v18} 
                            label(for="email") :*אימייל
                        br
                        div.form
                            input(type="text" name="address" id="Address",value=v13)
                            label(for="address") :*כתובת
                        br
                        input(type="submit", class="btn", value="שמור פרופיל")
                    div.right
                        div.msg
                        div.form
                            input(type="text" name="productName" id="Name",value=v14)
                            label(for="productName") :*שם 
                        br
                        div.form
                            label(for="productType") סוג*:
                            input(type="radio", id="product", name="productType",  checked=v15 == "מוצר")
                            label(for="product") מוצר
                            input(type="radio", id="service", name="productType", checked=v15 == "שירות")
                            label(for="service") שירות
                        br
                        div.form
                            select(type="text", name="category", id="Category",value=v16)
                                option(value="", disabled selected) בחר תת קטגוריה
                                option(selected=v16 == "ביגוד") ביגוד
                                option(selected=v16 == "עיצוב הבית") עיצוב הבית
                                option(selected=v16 == "הובלות") הובלות
                                option(selected=v16 == "אינסטלציה") אינסטלציה
                                option(selected=v16 == "תיקונים") תיקונים 
                                option(selected=v16 == "אחר") אחר
                            label(for="category") :*תת קטגוריה 
                        br
                        div.form
                            input(type="text", name="description", id="Description", value=v17)
                            label(for="description") :תיאור
            div#back
                a(href="http://localhost:3000/seller")  חזרה
                img.backPic(src="media/back.png")
