extends layout
block content
            script(src='js/All.js', defer)
            h1#createHeadline" #{v19}
            br
                    div.left
                        img#productPic(src=v20)
                    div.center
                        b מחיר
                        span #{v21}
                        br
                        b אימייל :
                        span #{v22}
                        br
                        b כתובת :
                        span #{v23}
                        br
                    div.right
                        b סוג :
                        span #{v24}
                        br
                        b תת קטגוריה :
                        span #{v25}
                        br
                        b תיאור :
                        span #{v26}
            br
            div#back
            a(href="http://localhost:3000/resaults") חזרה לתוצאות החיפוש
            img.backPic(src="media/back.png")
