extends layout
block content
            script(src='js/All.js', defer)
            div.content
                h1#createHeadline #{v19}
                br
                div.left
                    img#productPic(src=v20)
                div.center
                        b :מחיר
                        p #{v21} ש"ח 
                        br
                        b :אימייל
                        p #{v22}
                        br
                        b :כתובת
                        p #{v23}
                        br
                div.right
                        b :סוג
                        p #{v24}
                        br
                        b :תת קטגוריה
                        p #{v25}
                        br
                        b :תיאור
                        p #{v26}
                        br
                div#back
                    a(href="http://localhost:3000/results") חזרה לתוצאות החיפוש
                    img.backPic(src="media/back.png")
