extends layout
block content
    script(src='js/Results.js', defer) 
    div.content
        div.results
            tr 
            form(action="/findProduct", method="post", class="my-form", id="block") 
                    input(type="submit", class="btn" ,value="חפש" ,name="searchBtn" ,id="searchBtn") 
                    div.form
                        input(type="search", name="search", id="resultLine", placeholder=v7, required)             
            h1 תוצאות החיפוש    
            tr 
            table#products
                tr 
                    th כתובת
                    th אימייל
                    th מחיר
                    th תיאור
                    th קטגוריה
                    th סוג
                    th שם 
                    th תמונה
                    th מספר
                each n in v6  
                    tr(href='http://localhost:3000/findProductBySerialUser/' + n.serial_num)
                        td=n.address
                        td=n.email
                        td=n.price
                        td=n.description
                        td=n.category
                        td=n.productType
                        td=n.productName
                        td 
                            img#logo(src=n.image)
                        td
                            a(href='http://localhost:3000/findProductBySerialUser/' + n.serial_num) #{n.serial_num}
